html, body {
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 15%); 
}

#City {
  text-transform: capitalize;
}
#weather_icon{
  flex-basis: 100px;
  text-align: center;
}
#weather_icon img{
  max-width: 100%;
}

#temperature {
  font-size: 4em;
}

#change {
  background: rgba(34,193,195, .80);
  cursor: pointer;
}